<div id="sidebar">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">Navigation</h3>
</div>
<div class="panel-body">
<p>
<%= link_to 'All Wines', wines_path %>
</p>
<p>
<%= link_to 'Create Wine', new_wine_path %>
</p>
</div>
</div>
</div>